
.blog-card {
    display: flex;
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 8px;
    overflow: hidden;
    margin-bottom: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    position: relative;
    transition: transform 0.3s;
}

.blog-card:hover {
    transform: scale(1.05);
}

.blog-card img {
    width: 100%;
    max-width: 200px;
    object-fit: cover;
    border-right: 1px solid #ddd;
}

.blog-card-content {
    padding: 20px;
    flex-grow: 1;
}

.blog-card-title {
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 10px;
}

.blog-card-meta {
    display: flex;
    align-items: center;
    color: #777;
    font-size: 14px;
    margin-bottom: 10px;
}

.blog-card-meta i {
    margin-right: 5px;
}

.blog-card p {
    color: #555;
}

.read-more-btn {
    background-color: #3498db;
    color: #fff;
    border: none;
    padding: 8px 16px;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s;
    position: absolute;
    bottom: 10px;
    right: 10px;
    z-index: 1;
}

.read-more-btn:hover {
    background-color: #2980b9;
}

.views-icon {
    display: flex;
    align-items: center;
    position: absolute;
    bottom: 10px;
    left: 10px;
    color: #000;
    font-size: 16px;
    /* background:rgba(250,250,250,0.5); */
    padding:5px;
    /* box-shadow:0 0 5px #000; */
    /* border-radius:10px; */
    
}

.views-icon i {
    margin-right: 5px;
}

@media (max-width: 768px) {
    .blog-card {
        flex-direction: column;
    }

    .blog-card img {
        max-width: 100%;
        border-right: none;
    }

    .read-more-btn {
        position: static;
        margin-top: 10px;
    }
}